@{
    ViewData["Title"] = "Home Page";
}
@model List<PersonalBlog.Models.Articles>;

<div class="">
    <h1>Personal Blog - Indra</h1>
    <br />
    @foreach(var article in Model)
    {
        <div class="row">
            <p>@article.Title</p>
            <p>@article.PublishingDate.ToString("dd/MM/yyyy")</p>
        </div>
    }
</div>
