@model List<PersonalBlog.Models.Articles>;
@using System.Security.Claims;


@if (User.Identity!.IsAuthenticated)
{
    <h1 class="display-4">Bienvenido @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()  al Panel de administrador</h1>
}
<br />
@foreach (var article in Model)
{
    <div class="row">
        <div class="col">
            <p>@article.Title</p>
        </div>
        <div class="col">
            <a 
                asp-controller="Articles"
                asp-action="Edit"
                asp-route-id="@article.ArticleId"
                class="btn btn-outline-primary">Editar
            </a>
        </div>
        <div class="col">
            <a 
                asp-controller="Articles"
                asp-action="Delete"
                asp-route-id="@article.ArticleId"
                onclick="return confirmar()"
                class="btn btn-outline-danger">Eliminar</a>
        </div>
    </div>
}

@section Scripts{
    <script>
        function confirmar(){
            return confirm("Are you sure you want to delete this article?")
        }
    </script>
}